.container-match{
    width: calc(100% - 4rem);
    max-width:  calc(100% - 4rem);
    background-color: white;
    height: 3rem;
    margin: 0.5rem 2rem;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 5px 4px rgba(0,0,0,0.2);
    box-shadow: 0 0 5px 4px rgba(0,0,0,0.2);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    color: var(--space-cadet);
    justify-content: center;
    align-items: center;
}

.container-match:hover{
    transform: scale(1.01);
}

.team-one-name{
    text-align: center;
    width: 15rem;
    font-size: 15px;
    font-weight: bold;
}

.team-two-name{
    text-align: center;
    width: 15rem;
    font-size: 15px;
    font-weight: bold;
}

.icon-versus{
    margin-top: 5px;
    margin-bottom: 5px;
}


.set {
    text-align: center;
    margin-right: 3%;
}

.set-five{
    font-weight: bold;
}

