.popupmenu-container-outer {
    z-index: 100;
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;

}

.popupmenu-container{
    position: absolute;
    background-color: white;
    border-radius: 5px;
}

.popupmenu-close{
    font-size: 25px;
    margin-top: 0.5rem;
    margin-left: calc(100% - 2rem);
    cursor: pointer;
}

.popupmenu-close:hover{
    transform: scale(1.1);
}