.container-team-leader{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    height: 25%;
    width: 76%;
    padding-top: 20px;
    border: solid #e5eaf5;
    border-radius: 10px;
}

.container-team-leader table{
    border: none;
    table-layout: fixed;
    width: 35rem;
    border-spacing: 0;
}

.table-leader td{
    width: 4rem;
    border: none;
}

.table-leader th{
    width: 4rem;
    border: none;
    border-bottom: solid black;
}

.games-data{
    position: absolute;
    margin-top: 3.5rem;
    vertical-align: top;
}

.games-data p{
    font-size: 20px;
    margin-bottom: 0.3rem;
}

.container-games {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: left;
    width: 46%;
    height: 65%;
    padding-top: 20px;
    border: solid #e5eaf5;
    border-radius: 10px;
    float: left;
    margin-top: 1rem;
    margin-right: 0.5rem;
    padding-left: 0.5rem;
}

.container-players {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: left;
    height: 65%;
    width: 46%;
    padding-top: 20px;
    border: solid #e5eaf5;
    border-radius: 10px;
    float: left;
    margin-top: 1rem;
    padding-left: 0.5rem;
}

.player-data{
    vertical-align: top;
    width: 98%;
    border-spacing: 0;
}

.player-data th{
    position: sticky;
    background-color: white;
    z-index: 1;
    top: 0;
    border: none;
    border-bottom: black solid;
}


.player-data tr:nth-child(odd) td{
    border: none;
    background-color: lightgrey;
}

.player-data tr:nth-child(even) td{
    border: none;
}


.wrapperDavid{
    width: 100%;
    height: 38rem;
    margin: 1rem;
}

.scroll-wrapper{
    width: 100%;
    height: 86%;
    margin-bottom: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    overflow: auto;
}

.container-picture{
    float: left;
    margin-right: 1rem;
}

.placeholder{
    height: 10.3rem;
}

.team-leader-header{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    text-align: center;
    width: calc(100% - 1rem);
    font-size: 25px;
    font-weight: bold;
}

.team-popup-header{
    margin-top: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-align: center;
    width: calc(100% - 1rem);
    font-size: 35px;
    font-weight: bold;
}

.team-popup-header hr{
    margin-top: 2rem;
    height: 3px;
    border-width: 0;
    color: gray;
    background-color: var(--orange);
}

button {
    background-color: lightgrey;
    color: dimgrey;
    border: none;
    border-radius: 12px;
    height: 1.5rem;
    width: 4.5rem;
    margin-left: 0.5rem;
}

.button-player{
    width: 5rem;
}