.sidebar-container {
    display: flex;
    overflow: hidden;
}

main{
    display: flex;
    flex: 1;
    width: 100%;
    height: 100vh;
}

.sidebar {
    z-index: 100;
    padding-top: var(--item-height);
    display: flex;
    flex-direction: column;
    /*position: absolute;*/
    height: 100vh;
    transition: all 0.15s;
    background-color: var(--space-cadet);
}

.active{
    background-color: var(--cool-gray);;
}

.sidebar-navlink {
    height: var(--item-height);
    display: flex;
    color: var(--orange);
    text-decoration: none;

}

.sidebar-navlink-text {
    margin-top: 1.8vh;
    justify-self: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    font-size: 20px;
    text-decoration: none;
}

.sidebar-navlink-icon {
    margin-top: 1.5vh;
    margin-left: 2vh;
    justify-self: center;
    justify-content: center;
    font-size: 30px;
}

.sidebar-navlink:hover {
    background-color: var(--cool-gray);
}