:root{
    --marian-blue: #373c83ff;
    --delft-blue: #132d59ff;
    --oxford-blue: #0c1e46ff;
    --ultra-violet: #4d5299ff;
    --savoy-blue: #666bb2ff;
    --orange: #FFB52E;
    --english-violet: #4f4a6dff;
    --space-cadet: #252a46ff;
    --space-cadet-2: #1b1e36ff;
    --cool-gray: #7f7a9fff;
}